<nb-layout>
  <nb-layout-column>
    <nb-card style="height: 100%;">
      <nb-card-body>
        <div *ngIf="!emailSend" class="login">

          <h2 class="title" id="title">
            Recuperar senha
          </h2>
          <p class="sub-title">
            Informa seu email, que enviaremos um link para trocar a senha.
          </p>

          <form novalidate [formGroup]="form" (ngSubmit)="requestPassword()">
            <div class="form-control-group">
              <label class="label" for="input-email">
                Endereço de e-mail:
              </label>
              <input autofocus fullwidth id="input-email" name="email" nbinput pattern=".+@.+\..+" placeholder="E-mail"
                class="input-full-width input-md input-rectangle" required formControlName="email">
              <small *ngIf="form.get('email').valid && form.get('email').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!form.get('email').valid && form.get('email').touched" class="form-text text-danger">Email
                Inválido</small>
            </div>
            <div class="form-control-group">
                <a class="forgot-password" routerlink="../login" href="/auth/login" >
                  Voltar para tela de login?
                </a>
              </div>
            <button nbButton fullWidth status="success" type="submit" [disabled]="!form.valid">
              Evniar
            </button>
          </form>
        </div>

        <div *ngIf="emailSend" class="login">
          <nb-card status="success">
            <nb-card-header>Email enviado</nb-card-header>
            <nb-card-body>
              Em alguns instantes você receberá um email. Nele você poderá redefinir sua senha.
              Caso não encontre em sua caixa principal, verifique os SPANS.
            </nb-card-body>
            <nb-card-footer>
              <button nbButton fullWidth status="success" (click)="goLogin()" [disabled]="!form.valid" >
                Ir para a tela de login
              </button>
            </nb-card-footer>
          </nb-card>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
