.login {
  margin: auto;
  width: 100%;
  max-width: 35rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  margin-bottom: .75rem;
  text-align: center;
}

.sub-title {
  margin-bottom: 2rem;
  text-align: center;
}

.forgot-password {
  line-height: 2;
}

.form-control-group {
  margin: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red
}

input.ng-valid.ng-touched {
  border: 1px solid green
}
