<nb-layout>
  <nb-layout-header fixed>Company Name</nb-layout-header>

  <nb-sidebar>Sidebar Content</nb-sidebar>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        Card
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-body>
        <input type="text" nbInput fullWidth status="info" placeholder="Info">
        <input type="text" nbInput fullWidth status="success" placeholder="Success">
        <input type="text" nbInput fullWidth status="warning" placeholder="Warning">
        <input type="text" nbInput fullWidth status="danger" placeholder="Danger">
      </nb-card-body>
    </nb-card>


  </nb-layout-column>
</nb-layout>
