<nb-layout>
  <nb-layout-column>
    <nb-card style="height: 100%;">
      <nb-card-body>
        <div *ngIf="!statusOK && userSimple.name" class="login">

          <h2 class="title" id="title">
            Trocar senha
          </h2>
          <p class="sub-title">
            Olá {{userSimple.name}}, informe a nova senha
          </p>

          <form novalidate [formGroup]="form" (ngSubmit)="requestPassword()">
            <div class="form-control-group">
              <label class="label" for="input-password">
                Senha:
              </label>
              <input fullwidth id="input-password" name="password" nbinput placeholder="Senha" type="password" class="input-full-width input-md input-rectangle"
                required minlength="4" maxlength="50" formControlName="password">
              <small *ngIf="form.get('password').valid && form.get('password').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!form.get('password').valid && form.get('password').touched && !form.get('password').errors.pattern"
                class="form-text text-danger">
                Senha Inválida
              </small>
              <small *ngIf="!form.get('password').valid && form.get('password').errors.pattern && form.get('password').touched"
                class="form-text text-danger">
                Senha precisar ter: uma letra maiúscula, uma letra minúscula, um número, uma caractere especial(@#$ %)
                e tamanho entre 6-20.
              </small>
            </div>
            <div class="form-control-group">
              <label class="label" for="input-confirm-password">
                Confirmar senha:
              </label>
              <input fullwidth id="input-confirm-password" name="confirm_password" nbinput placeholder="Confirmar senha"
                type="password" class="input-full-width input-md input-rectangle" required minlength="4" maxlength="50"
                formControlName="confirm_password">
              <small *ngIf="form.get('confirm_password').valid && form.get('confirm_password').touched" class="form-text text-success">Ok</small>
              <small *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').touched && !form.get('confirm_password').errors.pattern"
                class="form-text text-danger">
                Senha Inválida
              </small>
              <small *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').errors.pattern && form.get('confirm_password').touched"
                class="form-text text-danger">
                Senha precisar ter: uma letra maiúscula, uma letra minúscula, um número, uma caractere especial(@#$ %)
                e tamanho entre 6-20.
              </small>
            </div>
            <div class="form-control-group">
              <a class="forgot-password" routerlink="../login" href="/auth/login" >
                Voltar para tela de login?
              </a>
            </div>
            <button nbButton fullWidth status="success" type="submit" [disabled]="!form.valid">
              Evniar
            </button>
          </form>
        </div>

        <div *ngIf="statusOK" class="login">
          <nb-card status="success">
            <nb-card-header>Senha alterada com sucesso</nb-card-header>
            <nb-card-body>
              Retorne para a página de login, e entre no sistema com a nova senha.
            </nb-card-body>
            <nb-card-footer>
              <button nbButton fullWidth status="success" (click)="goLogin()">
                Ir para a tela de login
              </button>
            </nb-card-footer>
          </nb-card>
        </div>

        <div *ngIf="!userSimple.name" class="login">
            <nb-card status="danger">
              <nb-card-header>Email não encontrado</nb-card-header>
              <nb-card-body>
                Tente recuperar a senha novamente ou peça para o adiministrador do sitema realizar seu cadastro.
              </nb-card-body>
              <nb-card-footer>
                <button nbButton fullWidth status="danger" (click)="goLogin()">
                  Ir para a tela de login
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
