.login {
  margin: auto;
  width: 100%;
  max-width: 35rem;
}

.title {
  margin-bottom: .75rem;
  text-align: center;
}

.sub-title {
  margin-bottom: 2rem;
  text-align: center;
}

.forgot-password {
  line-height: 2;
}

.form-control-group {
  margin: 20px;
}
